<div class="well back" >
    <div>
        <input class="form-control" type="text" placeholder="Search" (keyup)="searchForString($event)" />
        <div *ngIf="">
        </div>
    </div>
    <div>
        <input type="radio" id="1" name="searchType" [(ngModel)]="checked"  value="movie" (click)="selectOrDeselectSearchType($event)" class="searchType" >Movies
        <input type="radio" id="2" name="searchType" [(ngModel)]="checked"  value="tv" (click)="selectOrDeselectSearchType($event)"class="searchType" >Tv shows
    </div>
    <div class="col-xs-12 col-md-6 img" style="position: relative" *ngFor="let result of searchResult|async|paginate:{itemsPerPage:4,currentPage:p}" [style.backgroundImage]="'url('+getImage(result)+')'">
        <div  ></div> 

    </div>
    
      <pagination-controls  class="my-pagination" *ngIf="(searchResult | async)!=null" (pageChange)="pageChange($event)" directionLinks="true" ></pagination-controls> 
</div>

<!--(pageChange)="p = $event"  -->
<!--{{result.title}} {{result.release_date}}   {{result.name}}   {{result.first_air_date}}  -->